/* Default styling */

:root {
    --backgroundColor: #f54542;
    --orangeColor: #deac5b;
    --orangeRedColor: #e65825;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    background: #e65825;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  
  /* Header */
  
  header {
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.15rem;
    font-size: 1.3rem;
    text-align: center;
  }
  
  
  header h1 {
    font-size: 1.4rem;
    letter-spacing: 0rem;
    color: #d9c1b8;
  }
  
  header h3 {
    margin-top: 0.5rem;
    color: #d9c1b8;
    font-size: 1rem;
    letter-spacing: 0rem;
  }
  
  /* Main */
   main {
     display: flex;
     align-items: space-between;
     justify-content: center;
   }

   img:first-child {
    border: 0.25rem solid black;
   }

   img {
    height: 15rem;
    width: 25rem;
    margin-left: 10rem;
   }

   div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
   }

   ul {
    width: 50%;
    margin-left: 2rem;
   }

   li {
    font-family: 'Roboto', sans-serif;
    color: #d9c1b8;
    font-size: 1.3rem;
    margin-top: 1.4rem;
   }

   li:last-child {
    margin-bottom: 1.5rem;
   }
   
  /* Footer */
  
  footer {
    font-family: "Rubik Mono One", sans-serif;
    color: #d9c1b8;
    text-align: center;
    font-size: 0.8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10rem;
  }
  
   button {
     width: 13rem;
     height: 2.3rem;
     background: none;
     border: 0.2rem solid #ff8400;
     padding: 0.5rem 1rem;
     box-shadow: inset 0 0 0 0 #ff8400;
     -webkit-transition: ease-out 0.4s;
     -moz-transition: ease-out 0.4s;
      transition: ease-out 0.4s;
      display: flex;
      align-items: center;
      justify-content: center;
   }
   
   button a {
     text-transform: uppercase;
     font-family: 'Roboto', sans-serif;
     font-weight: 700;
     font-size: 1rem;
     color: #e0d0ce;
     text-decoration: none;
   }
   
   button:hover {
     cursor: pointer;
     box-shadow: inset 400px 0 0 0 #ff8400;
   }
  
    /* Media query */
    
    #HIDE {
      display: none;
    }
    
    @media screen and (max-width: 335px) {
      header h1 {
        letter-spacing: 0;
        min-width: 15rem;
      }
      
      header h3 {
        min-width: 15rem;
      }
    
    }
    
      @media screen and (max-width: 485px) {
      footer {
        flex-direction: column;
        gap: 0;
      }
      
      footer h2 {
        text-align: center;
      }
    
    }
    
      @media screen and (max-width: 770px) {
      
      footer h2 {
        width: unset;
        font-size: 130%;
      }
      
      button {
        width: unset;
        height: unset;
      }
      
      #SHOW {
        display: none;
      }
      
      #HIDE {
        display: block;
      }

      }
 
      @media screen and (max-width: 1200px) {
        main {
            flex-direction: column;
            align-items: center;
        }

        ul {
            width: 80%;
        }

        img {
            margin: unset;
        }
    }